#show{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    /* border: 1px solid black; */
}

#prods{

    margin-top: 50px;
}

#pag{
    margin-top: 10px;

}