<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
     

        <div class="tab-content no-border padding-24">
            <div id="home" class="tab-pane in active">
                <div class="row">

                    <div class="col-xs-12 col-sm-3 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="{{ 'https://robohash.org/' + profile.username + '.png'}}" >
                        </span>

                        <div class="space space-4"></div>

                        <app-follow [hidden]='isUser' [profile]='profile' (toggle)="onToggleFollowing($event)"></app-follow>
                     
    
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9">
                        <h1 class="blue">
                            <span class="middle">{{ profile.username }}</span>
                        </h1>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Username </div>

                                <div class="profile-info-value">
                                    <span>{{ profile.username }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Location </div>

                                <div class="profile-info-value">
                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                    <span>{{profile.location}}</span>
                                    <span>España</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Age </div>

                                <div class="profile-info-value">
                                    <span>21</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email </div>

                                <div class="profile-info-value">
                                    <span>{{ profile.email }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nivel </div>
                                
                                <div class="profile-info-value">
                                    <span>{{ profile.karma }}</span>

                                </div>
                            </div>
                         
                           <div class="profile-info-row">
                                <div class="profile-info-name"> Rating user: </div>

                                <div class="profile-info-value">
                                   {{profile.rating}} ★
                                </div>
                         
                            </div> 
                         
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Seguidores </div>

                                <div class="profile-info-value">
                                            5
                                </div>
                            </div>

                        </div>


                    
                    </div><!-- /.col -->
                </div><!-- /.row -->


                <ul class="nav nav-tabs padding-18">
                   

                    <li>
                        <a data-toggle="tab"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" 
                        [routerLink]="['/profile', profile.username]">
                            <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                            Articulos
                        </a>
                    </li>
        
                    <li>
                        <a data-toggle="tab"    
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" 
                        [routerLink]="['/profile', profile.username, 'favorites']">
                            <i class="orange ace-icon fa fa-rss bigger-120"></i>
                           Favoritos
                        </a>
                    </li>
                    
                    <li>
                        <a data-toggle="tab"    
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" 
                        [routerLink]="['/profile', profile.username, 'followed']">
                            <i class="orange ace-icon fa fa-rss bigger-120"></i>
                           Followers
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab"    
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" 
                        [routerLink]="['/profile', profile.username, 'following']">
                            <i class="orange ace-icon fa fa-rss bigger-120"></i>
                           Following
                        </a>
                    </li>
        
                   
                </ul>
            </div>

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
