

 
    <main class="container">

      <!-- Imagen producto-->
      <div class="left-column">
   
        <img data-image="red" class="active"src="{{ 'assets/images/smarttv.jpg'}}">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <a [routerLink]="['/profile',propietario_venta]"><span>Producto vendido por :<strong>{{propietario_venta}}</strong></span></a>
          <h1>{{producto.nombre}}</h1>
          <p>{{producto.descripcion}}</p>
        </div>

        <!-- Product Info -->
        <div class="product-configuration">

            <div class="product-color">
              <span>Modelo</span>
  
              <div class="color-choose">
                <p>{{producto.marca}} {{producto.modelo}}</p>
              </div>
  
            </div>

            <div class="product-color">
              <span>Estado del producto</span>
  
              <div class="color-choose">
                <p>{{producto.estado}}</p>
              </div>
  
            </div>

            <div class="product-color">
              <span>Ubicacion</span>
  
              <div class="color-choose">
                <p>{{producto.ubicacion}}</p>
              </div>
  
            </div>

          <!-- Rating -->
          <div class="product-color">
            <span>Valora este producto</span>

            <div class="color-choose">
              <app-rating></app-rating>
            </div>

          </div>

      
        </div><br>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>{{producto.precio}} $</span>
          <a href="#" class="cart-btn">Add to cart</a>
          <app-favorite-button [producto]="producto" (toggle)="onToggleFavorite($event)"></app-favorite-button> <span>   {{producto.favoritesCount}}</span><br>
         
        </div>


      </div>

    </main>

    <br>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *appShowAuthed="true">
          <form (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <!-- <div class="card-block"> -->
                <textarea class="form-control"
                  placeholder="Escribe un comentario..."
                  rows="3" [formControl]="commentControl">
                </textarea>
              <!-- </div> -->
               <div class="card-footer">
                <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="user image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">Publicar Comentario</button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>
        <app-details-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </app-details-comment>

      </div>
    </div>
        
      
        <!-- <app-favorite-button [producto]="producto" (toggle)="onToggleFavorite($event)"></app-favorite-button><p>{{producto.favoritesCount}}</p> -->
    
  <!-- </div> -->
   



