

<!-- <div *ngFor="let detail of details" class="container"> -->

  
        <div class="item">
            <a>
          <img src="{{ 'assets/images/' + detail.imagen + '.jpg'}}" alt="" class="item-img">
          
          <div class="item-text">
            <h3>{{detail.nombre}}</h3><br>
            <p>Marca :  {{ detail.marca }}</p>
            <p>Modelo: {{ detail.modelo }}</p>
            <p>Estado :{{ detail.estado }}</p>
            <p>Descripcion : {{ detail.descripcion }}</p>
            <p>Precio : {{ detail.precio }} $</p>
            <p>Ubicacion vendedor: {{ detail.ubicacion }}</p>
          </div>
        </a>
        </div>
      
    
  <!-- </div> -->