<header id="main-header">
		
	<a id="logo-header" href="#">
		<span class="site-name">TwoHandAPP</span>
	</a>
	

	<nav>

		<!-- no Logueado -->
		<ul  *appShowAuthed="false">
			<li><a  routerLink="/home">Inicio</a></li>
			<li><a  routerLink="/shop">Shop</a></li>
			<li><a [routerLink]="['/login']"routerLinkActive="active">Iniciar Sesión</a></li>
		
		</ul>

		
		<!--  logueado -->
		<ul *appShowAuthed="true" >
			<li><a  routerLink="/home">Inicio</a></li>
			<li><a  [routerLink]="['/shop']">Shop</a></li>

			<li><a [routerLink]="['/profile', username]" >Perfil</a></li>
		</ul>
	</nav>

</header>
